<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Syncdocs</servlet-name>
		<servlet-class>com.rr.syncdocs.SyncdocsServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>requestaccess</servlet-name>
		<servlet-class>com.rr.syncdocs.GenericOAuth2AccessTokenFetcher</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>oauth2callback</servlet-name>
		<servlet-class>com.rr.syncdocs.GenericOAuth2ResponseProcessor</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Syncdocs</servlet-name>
		<url-pattern>/syncdocs</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>oauth2callback</servlet-name>
		<url-pattern>/oauth2callback</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>requestaccess</servlet-name>
		<url-pattern>/requestaccess</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
</web-app>